body {
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100vw - 40px);
  height: calc(100vh - 40px);
  overflow: hidden;
  background-color: lightblue;
}

.container {
  display: flex;
  width: 1440px;
  height: 800px;
  position: relative;
  align-items: center;
  justify-content: center;
  background-image: url('assets/background.png');
}
