body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  overflow: hidden;
  background-color: lightblue;
  display: flex;
  width: 1440px;
  height: 800px;
  position: relative;
  align-items: center;
  justify-content: center;
  background-image: url('assets/background.png');
  background-color: #000;
}

.game-world {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  will-change: transform;
}
