body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
}

.container {
    overflow: hidden;
    width: 1440px;
    height: 800px;
    position: relative;
    background-color: #000;
    transform-style: preserve-3d;
}

.game-world {
    position: absolute;
    left: 0;
    top: 0;
    will-change: transform;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    z-index: 1;
}

/* Assurez-vous que les entités du jeu sont au-dessus du background */
.game-world>div {
    backface-visibility: hidden;
    transform-style: preserve-3d;
    z-index: 2;
}

/* Le menu pause doit être au-dessus de tout */
.menu {
    z-index: 1000;
}